
.header{
    background-color: #71FFFD;
    height: 150px;
    padding: 50px;
}
  
.footer{
    background-color: #71FFFD;
    height: 50px;
    padding: 0px;
}

.body{
    background-color: #E3FBF8;
}

.title{
    font-family: 'Roboto';
    color: #8B00FF;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline overline;
    text-decoration-style: solid;
    text-decoration-color: #8B00FF;
}

b{
    font-family: 'Roboto';
    color: #000000;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.container_table{
    background-color: #d5e6ff;
    font-family: 'Roboto';
    color: #000000;
    font-size: 15x;
    text-align: left;
    text-decoration: none;
}

.table_title{
    font-family: 'Roboto';
    color: #000000;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.table_header{
    font-family: 'Roboto';
    color: #000000;
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}

.table_item{
    font-family: 'Roboto';
    color: #000000;
    font-size: 15px;
    text-align: left;
    text-decoration: none;
}

a{
    font-family: 'Roboto';
    color: #8f8f8f;
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}