
header{
    background-color: #71FFFD;
    padding: 30px;
}
  
footer{
    background-color: #71FFFD;
    padding: 20px;
}

body{
    background-color: #E3FBF8;
}

a{
    font-family: 'Roboto';
    color: #000000;
    font-size: 15px;
    text-align: justify;
    text-decoration: none;
}

title{
    font-family: 'Roboto';
    color: #8B00FF;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline overline;
    text-decoration-style: solid;
    text-decoration-color: #8B00FF;
}

h1{
    font-family: 'Roboto';
    color: #000000;
    font-size: 20px;
    text-align: justify;
}

h2{
    font-family: 'Roboto';
    color: #000000;
    font-size: 15px;
    text-align: justify;
}

h3{
    font-family: 'Roboto';
    color: #000000;
    font-size: 10px;
    text-align: justify;
}